.about-me {
  text-align: center;
}

.skills-column {
  margin-left: 100px;
}
.imageContainer {

  
  width: 200px;
  height: 200px;

       background-image: url(https://1.bp.blogspot.com/-ciCnjYy5MY4/Xc5EyfMP3RI/AAAAAAAABP0/sxawOkQKQT8jzVePghx_khm80Y8THFnQgCLcBGAsYHQ/s1600/6344863_sa.jp);
           background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;

}


.card-image1 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image2 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image3 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image4 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image5 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image6 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image7 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image8 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image9 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image10 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image11 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image12 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image13 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }

  .card-image14 {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  width: 200px;
  height: 350px;
  }


